#!/usr/bin/make -f
#export DH_VERBOSE = 1

%:
	dh $@

override_dh_autoreconf:
	./bootstrap

override_dh_auto_install:
	dh_auto_install
	rm -r debian/ot-br-posix/lib/

override_dh_fixperms:
	dh_fixperms
	chmod 755 debian/ot-br-posix/usr/libexec/ot-br-posix/script/*
	chmod 755 debian/ot-br-posix/usr/bin/ncp_state_notifier
	chmod 644 debian/ot-br-posix/etc/default/ncp_state_notifier

override_dh_installsystemd:
	dh_installsystemd --name=ncp_state_notifier
	dh_installsystemd --name=otbr-web
	dh_installsystemd --name=otbr-agent

override_dh_auto_test:


