#!/usr/bin/make -f
#export DH_VERBOSE = 1

%:
	dh $@

override_dh_autoreconf:
	./bootstrap

override_dh_fixperms:
	dh_fixperms
	mkdir -p debian/ot-br-posix/usr/libexec/ot-br-posix/
	cp -rfp script debian/ot-br-posix/usr/libexec/ot-br-posix/
	chmod 755 debian/ot-br-posix/usr/libexec/ot-br-posix/script/*
	rm debian/ot-br-posix/lib/systemd/system/wpantund.service
	rm -rf debian/ot-br-posix/usr/lib



override_dh_auto_test:


